/* This is my first proper css file */

body{
    background-color: rgb(105,105,105);
    max-width: 500px;
    margin: auto;
}

h1, h3, h4, h5, h6, p{
    color:rgb(245,245,245);
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: white;
    width:330px;
    border-width: 20px;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
}
